header {
    background-color: #0B1C51;
    margin-bottom: 40px;
}
header h1 {
    color: white;
    font-size: 52px;
    font-family: Montserrat;
    padding-top: 20px;
    text-align: center;
}
header nav { 
    display: flex;
    justify-content: center;
}
header nav ul {
    display: flex;
    padding: 0px;
    list-style: none;
}
header nav ul li a {
    color: white;
    
    font-family: Montserrat;
    margin: 0 20px 0 0;
    text-decoration: none;
}
@media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header h1 {
        margin: 14px;
        padding-top: 6px;
    }
    header nav ul {
        justify-content: flex-end;
        margin: 20px;
    }
}